body{
    font-family: "Playwrite CU", system-ui;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin: 0px;
}

button {
    background-color: gray;
    color: rgb(193, 240, 240);
    font-family: "Caveat", cursive;
    font-size: 20px;
}
    
.passo {
    display:none;
}
.passo.ativo {
    display: block;
}

main{
    max-width: 90%;
    text-align: center;
}

img{
    width: 70%;
}